In [129]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [130]:
# Add the parent directory to the system path
import os 
import sys 
sys.path.append(os.path.abspath(os.path.join('..')))

In [131]:
# importing modules from scripts
import scripts.preprocessing as p

In [132]:
# load population data from data
df = pd.read_csv('../data/concat_data.csv')

In [133]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,50.858849,50.850191,50.845065,50.836016,50.826773,50.823381,50.825589,50.826585,50.834861,50.844429,50.862857,50.882413,50.892872,50.920576,50.967882,51.012106,51.059762,51.112015,51.158120,51.203109,51.245443,51.300029,51.316623,51.283702,51.245053,51.192655,51.131628,51.053530,50.966859,50.919562,50.949598,51.068313,51.203841,51.322554,51.448267,51.556132,51.643855,51.718830,51.790647,51.860891,51.928710,52.020597,52.114272,52.182824,52.252512,52.299355,52.314708,52.316943,52.320503,52.331371,52.305638,52.306295,52.373864,52.442652,52.515590,52.589275,52.657475,52.723376,52.787792,52.849439,52.890182,52.873650,52.864860,52.904203,NaN
1,Africa Eastern and Southern,AFE,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,50.387880,50.388814,50.391276,50.395656,50.400512,50.405510,50.410713,50.413312,50.413630,50.414998,50.423730,50.424335,50.411762,50.395608,50.373201,50.350121,50.335117,50.320733,50.310497,50.301375,50.249665,50.234107,50.292066,50.373230,50.476537,50.594967,50.651383,50.640337,50.645756,50.650867,50.644383,50.636029,50.655412,50.701783,50.741414,50.778877,50.819764,50.833589,50.825554,50.821628,50.808843,50.790463,50.772365,50.752424,50.731596,50.711651,50.690852,50.669994,50.651777,50.638232,50.624907,50.609573,50.593858,50.577372,50.559167,50.531940,50.518935,50.515859,50.504887,50.495993,50.486544,50.478916,50.472347,50.464214,NaN
2,Afghanistan,AFG,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,48.083054,48.165001,48.242372,48.315893,48.385273,48.450285,48.511803,48.570464,48.626005,48.677997,48.726701,48.772846,48.816351,48.856631,48.893531,48.927195,48.958030,48.985824,49.021606,49.078746,49.147412,49.216172,49.304377,49.403368,49.538809,49.710513,49.837794,49.915439,49.964655,49.981496,49.990753,49.996505,50.001845,49.987425,49.963240,49.939028,49.907191,49.873789,49.843320,49.811100,49.775111,49.740205,49.704418,49.669165,49.635085,49.604651,49.579549,49.550982,49.525460,49.505857,49.483708,49.467665,49.455577,49.442103,49.432135,49.423184,49.414608,49.419284,49.437209,49.455485,49.470944,49.488405,49.508722,49.527063,NaN
3,Africa Western and Central,AFW,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,50.179683,50.194408,50.203157,50.203679,50.204549,50.204173,50.200936,50.203165,50.209982,50.212982,50.206895,50.190393,50.171685,50.154084,50.137214,50.122838,50.111484,50.108052,50.112248,50.117189,50.121167,50.121837,50.121337,50.124192,50.119761,50.109138,50.101000,50.092365,50.078742,50.063588,50.052719,50.046197,50.040800,50.033299,50.025629,50.020582,50.017777,50.017201,50.013269,50.004903,49.996125,49.988018,49.976103,49.959575,49.943769,49.930303,49.916596,49.900686,49.884805,49.868708,49.853047,49.839934,49.829168,49.818650,49.807914,49.796591,49.783515,49.770292,49.758369,49.747269,49.738956,49.732453,49.725969,49.719851,NaN
4,Angola,AGO,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,49.843790,49.700946,49.673797,49.634980,49.576791,49.488336,49.364408,49.213634,49.061033,48.952953,48.979999,49.100274,49.215607,49.325563,49.429489,49.531610,49.633841,49.732098,49.824167,49.909713,49.989454,50.063008,50.130768,50.199861,50.270013,50.334076,50.391713,50.458259,50.529847,50.592299,50.650016,50.692752,50.728672,50.787160,50.851331,50.871566,50.858805,50.846357,50.843965,50.857152,50.867875,50.875299,50.879883,50.868815,50.849483,50.829190,50.809484,50.790696,50.770992,50.751441,50.733762,50.716821,50.701107,50.686262,50.671632,50.657496,50.642098,50.625719,50.611615,50.598879,50.588558,50.580794,50.572443,50.563065,NaN

### Exploratory Data Analysis

In [134]:
# shape of the data 
df.shape

(2660, 69)

There are 2660 rows and 69 columns in the data.

In [135]:
# Display basic information about the dataset 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    2660 non-null   object
 1   Country Code    2660 non-null   object
 2   Indicator Name  2660 non-null   object
 3   Indicator Code  2660 non-null   object
 4   1960            2525 non-null   float64
 5   1961            2525 non-null   float64
 6   1962            2525 non-null   float64
 7   1963            2525 non-null   float64
 8   1964            2525 non-null   float64
 9   1965            2525 non-null   float64
 10  1966            2525 non-null   float64
 11  1967            2525 non-null   float64
 12  1968            2525 non-null   float64
 13  1969            2525 non-null   float64
 14  1970            2525 non-null   float64
 15  1971            2525 non-null   float64
 16  1972            2525 non-null   float64
 17  1973            2525 non-null   float64
 18  1974            2525 non-null   float64
 19  1975            2525 non-null   float64
 20  1976            2525 non-null   float64
 21  1977            2525 non-null   float64
 22  1978            2525 non-null   float64
 23  1979            2525 non-null   float64
 24  1980            2525 non-null   float64
 25  1981            2525 non-null   float64
 26  1982            2525 non-null   float64
 27  1983            2525 non-null   float64
 28  1984            2525 non-null   float64
 29  1985            2525 non-null   float64
 30  1986            2525 non-null   float64
 31  1987            2525 non-null   float64
 32  1988            2525 non-null   float64
 33  1989            2525 non-null   float64
 34  1990            2530 non-null   float64
 35  1991            2530 non-null   float64
 36  1992            2530 non-null   float64
 37  1993            2530 non-null   float64
 38  1994            2530 non-null   float64
 39  1995            2530 non-null   float64
 40  1996            2530 non-null   float64
 41  1997            2530 non-null   float64
 42  1998            2530 non-null   float64
 43  1999            2530 non-null   float64
 44  2000            2530 non-null   float64
 45  2001            2530 non-null   float64
 46  2002            2530 non-null   float64
 47  2003            2530 non-null   float64
 48  2004            2530 non-null   float64
 49  2005            2530 non-null   float64
 50  2006            2530 non-null   float64
 51  2007            2530 non-null   float64
 52  2008            2530 non-null   float64
 53  2009            2530 non-null   float64
 54  2010            2530 non-null   float64
 55  2011            2530 non-null   float64
 56  2012            2530 non-null   float64
 57  2013            2530 non-null   float64
 58  2014            2530 non-null   float64
 59  2015            2530 non-null   float64
 60  2016            2530 non-null   float64
 61  2017            2530 non-null   float64
 62  2018            2530 non-null   float64
 63  2019            2530 non-null   float64
 64  2020            2530 non-null   float64
 65  2021            2530 non-null   float64
 66  2022            2530 non-null   float64
 67  2023            2530 non-null   float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 1.4+ MB
None

There are 65 numerical columns and 4 categorical columns

In [136]:
# Statistical measures for numerical columns
print(df.describe())

               1960          1961          1962          1963          1964  \
count  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03
mean   3.638614e+07  3.688780e+07  3.756525e+07  3.840326e+07  3.924833e+07
std    1.757972e+08  1.777867e+08  1.808257e+08  1.848227e+08  1.888323e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.056077e+01  5.056572e+01  5.058031e+01  5.057579e+01  5.056749e+01
50%    4.709300e+04  4.827500e+04  4.950800e+04  5.050100e+04  5.198900e+04
75%    2.581133e+06  2.609333e+06  2.665887e+06  2.720673e+06  2.762825e+06
max    3.031517e+09  3.072470e+09  3.126894e+09  3.193470e+09  3.260480e+09

               1965          1966          1967          1968          1969  \
count  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03
mean   4.010573e+07  4.100186e+07  4.189752e+07  4.281844e+07  4.377248e+07
std    1.929981e+08  1.973987e+08  2.017695e+08  2.062747e+08  2.109655e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.060670e+01  5.055797e+01  5.057061e+01  5.055182e+01  5.057319e+01
50%    5.476200e+04  5.626200e+04  5.700000e+04  5.947100e+04  6.176300e+04
75%    2.803071e+06  2.856740e+06  2.916976e+06  2.966695e+06  3.016443e+06
max    3.328243e+09  3.398510e+09  3.468395e+09  3.540186e+09  3.614593e+09

               1970          1971          1972          1973          1974  \
count  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03
mean   4.474151e+07  4.572807e+07  4.669837e+07  4.768230e+07  4.866208e+07
std    2.157444e+08  2.205959e+08  2.253267e+08  2.300792e+08  2.347550e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.056408e+01  5.056771e+01  5.058695e+01  5.058180e+01  5.058326e+01
50%    6.611200e+04  6.862800e+04  7.119900e+04  7.262900e+04  7.810800e+04
75%    3.109945e+06  3.179041e+06  3.247377e+06  3.278000e+06  3.379024e+06
max    3.690229e+09  3.767951e+09  3.843630e+09  3.920045e+09  3.995920e+09

               1975          1976          1977          1978          1979  \
count  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03
mean   4.962107e+07  5.057064e+07  5.151682e+07  5.248053e+07  5.347074e+07
std    2.393088e+08  2.437575e+08  2.481631e+08  2.525886e+08  2.570749e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.056943e+01  5.055602e+01  5.054400e+01  5.051000e+01  5.054834e+01
50%    8.128500e+04  8.190300e+04  8.488200e+04  8.687600e+04  8.808200e+04
75%    3.464799e+06  3.521662e+06  3.574870e+06  3.654580e+06  3.773816e+06
max    4.070060e+09  4.143135e+09  4.215877e+09  4.289852e+09  4.365803e+09

               1980          1981          1982          1983          1984  \
count  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03
mean   5.446968e+07  5.549332e+07  5.656469e+07  5.764537e+07  5.872254e+07
std    2.616147e+08  2.663002e+08  2.712429e+08  2.762414e+08  2.811999e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.054126e+01  5.053301e+01  5.051857e+01  5.053136e+01  5.052075e+01
50%    9.095100e+04  9.522200e+04  9.653400e+04  9.698100e+04  9.994400e+04
75%    3.833939e+06  3.928544e+06  4.009630e+06  4.105000e+06  4.159000e+06
max    4.442417e+09  4.520993e+09  4.602785e+09  4.684968e+09  4.766741e+09

               1985          1986          1987          1988          1989  \
count  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03  2.525000e+03
mean   5.982264e+07  6.095567e+07  6.212012e+07  6.329369e+07  6.446758e+07
std    2.862667e+08  2.915077e+08  2.969125e+08  3.023680e+08  3.078030e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.052943e+01  5.052755e+01  5.055104e+01  5.056515e+01  5.056892e+01
50%    1.007600e+05  1.055030e+05  1.099070e+05  1.102250e+05  1.135590e+05
75%    4.242757e+06  4.315482e+06  4.369000e+06  4.445568e+06  4.529884e+06
max    4.850182e+09  4.936117e+09  5.024401e+09  5.113496e+09  5.202687e+09

               1990          1991          1992          1993          1994  \
count  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03
mean   6.553464e+07  6.670183e+07  6.785230e+07  6.899700e+07  7.013234e+07
std    3.130211e+08  3.183969e+08  3.236324e+08  3.288028e+08  3.339356e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.055747e+01  5.056357e+01  5.055756e+01  5.053512e+01  5.052196e+01
50%    1.210395e+05  1.236005e+05  1.253885e+05  1.274920e+05  1.298940e+05
75%    4.659355e+06  4.756230e+06  4.849672e+06  4.912664e+06  4.949953e+06
max    5.293498e+09  5.382641e+09  5.470272e+09  5.556732e+09  5.642157e+09

               1995          1996          1997          1998          1999  \
count  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03
mean   7.125919e+07  7.238713e+07  7.351121e+07  7.462837e+07  7.573618e+07
std    3.390330e+08  3.441387e+08  3.492318e+08  3.542789e+08  3.592488e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.053765e+01  5.050429e+01  5.054518e+01  5.054305e+01  5.052794e+01
50%    1.320805e+05  1.337730e+05  1.355635e+05  1.370120e+05  1.386920e+05
75%    5.013340e+06  5.118847e+06  5.234743e+06  5.288044e+06  5.347396e+06
max    5.726849e+09  5.811695e+09  5.896175e+09  5.979851e+09  6.062415e+09

               2000          2001          2002          2003          2004  \
count  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03
mean   7.683789e+07  7.794209e+07  7.904990e+07  8.015617e+07  8.126397e+07
std    3.641719e+08  3.690763e+08  3.739346e+08  3.787585e+08  3.835893e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.052409e+01  5.052018e+01  5.050521e+01  5.051926e+01  5.051474e+01
50%    1.405470e+05  1.424840e+05  1.437615e+05  1.457990e+05  1.482450e+05
75%    5.383974e+06  5.423215e+06  5.550825e+06  5.620590e+06  5.762076e+06
max    6.144445e+09  6.226487e+09  6.308285e+09  6.389593e+09  6.471034e+09

               2005          2006          2007          2008          2009  \
count  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03
mean   8.237689e+07  8.349415e+07  8.460838e+07  8.574246e+07  8.689043e+07
std    3.884277e+08  3.932536e+08  3.980486e+08  4.029261e+08  4.078766e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.050737e+01  5.051529e+01  5.050457e+01  5.051746e+01  5.051622e+01
50%    1.499680e+05  1.531300e+05  1.554145e+05  1.582405e+05  1.601475e+05
75%    5.849224e+06  6.019169e+06  6.085464e+06  6.279518e+06  6.510314e+06
max    6.552787e+09  6.635163e+09  6.717584e+09  6.801422e+09  6.885609e+09

               2010          2011          2012          2013          2014  \
count  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03
mean   8.804932e+07  8.921875e+07  9.042827e+07  9.164922e+07  9.287085e+07
std    4.128972e+08  4.180292e+08  4.233441e+08  4.287107e+08  4.340722e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.051672e+01  5.050634e+01  5.046054e+01  5.045612e+01  5.044701e+01
50%    1.618170e+05  1.653825e+05  1.684555e+05  1.719175e+05  1.731265e+05
75%    6.747269e+06  6.906950e+06  6.996118e+06  7.160242e+06  7.228110e+06
max    6.969895e+09  7.053989e+09  7.141431e+09  7.229458e+09  7.317305e+09

               2015          2016          2017          2018          2019  \
count  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03
mean   9.408368e+07  9.529633e+07  9.651121e+07  9.770707e+07  9.887735e+07
std    4.393814e+08  4.446757e+08  4.499887e+08  4.551821e+08  4.602351e+08
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    5.044208e+01  5.044693e+01  5.046120e+01  5.043844e+01  5.044381e+01
50%    1.721165e+05  1.766810e+05  1.798520e+05  1.821160e+05  1.851980e+05
75%    7.306456e+06  7.505032e+06  7.691119e+06  7.819087e+06  8.029349e+06
max    7.404251e+09  7.490956e+09  7.577110e+09  7.661178e+09  7.742725e+09

               2020          2021          2022          2023  Unnamed: 68
count  2.530000e+03  2.530000e+03  2.530000e+03  2.530000e+03          0.0
mean   1.000118e+08  1.010378e+08  1.019679e+08  1.030256e+08          NaN
std    4.650846e+08  4.694506e+08  4.732939e+08  4.776678e+08          NaN
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00          NaN
25%    5.045017e+01  5.046244e+01  5.045891e+01  5.043986e+01          NaN
50%    1.875485e+05  1.898215e+05  1.914605e+05  1.925870e+05          NaN
75%    8.210559e+06  8.356981e+06  8.492043e+06  8.668144e+06          NaN
max    7.821272e+09  7.888964e+09  7.951595e+09  8.024997e+09          NaN

In [137]:
# List of all columns name in the dataset 
print(df.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

In [138]:
# Data structure of each columns 
df.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2020              float64
2021              float64
2022              float64
2023              float64
Unnamed: 68       float64
Length: 69, dtype: object

### Data Quality assesment 
The data quality of the dataset is assessed using the following metrics:
- **Completeness**: The dataset is complete as it contains all the required information.
- **Consistency**: The dataset is consistent as it follows a standard format and does not contain any
inconsistencies.

In [139]:
# Check for missing values 
print(df.isnull().sum())

Country Name         0
Country Code         0
Indicator Name       0
Indicator Code       0
1960               135
                  ...
2020               130
2021               130
2022               130
2023               130
Unnamed: 68       2660
Length: 69, dtype: int64

In [140]:
# Check for duplicates
print(f"Numer of duplicated rows: {df.duplicated().sum()}")

Numer of duplicated rows: 0

In [141]:
# Percentage of missing values 
p.caculate_missing_percentage(df)

The dataset has 6.06% missing values.

The below table presents a summary of missing values in each columns in the dataset.

In [142]:
# Data quality assesment, total missing values and it's percentage
p.check_missing_values(df)

                Missing Values  % of Total Values Data Types
Unnamed: 68               2660             100.00    float64
1962                       135               5.08    float64
1963                       135               5.08    float64
1961                       135               5.08    float64
1960                       135               5.08    float64
...                        ...                ...        ...
2023                       130               4.89    float64
Indicator Code               0               0.00     object
Indicator Name               0               0.00     object
Country Code                 0               0.00     object
Country Name                 0               0.00     object

[69 rows x 3 columns]

The dataframes contains 69 columns and 66 columns of them having missing values.

### Handling Missing Values
- Drop column with high percentage missing values > 50%.
  * Unnamed column (100% missing)

In [143]:
# Drop colmuns with high missing values 
df_cleaned = p.drop_high_missing_columns(df)

Dropped columns: ['Unnamed: 68']

This data are scrapped from world bank, so some countries have total or some of missing values in the year column because of no record.

In [144]:
# Display all columns
pd.set_option('display.max_columns', None)

# Identify numerical columns
numerical_columns = df_cleaned.select_dtypes(include=['number']).columns

# Calculate the percentage of missing values for each row, considering only numerical columns
df_cleaned['missing_percentage'] = df_cleaned[numerical_columns].isna().sum(axis=1) * 100 / len(numerical_columns)

# Filter rows with any missing values in numerical columns
filtered_rows = df_cleaned[df_cleaned['missing_percentage'] > 0]

# Display the 'Country Name' and 'missing_percentage' columns
print("\nRows with missing values in numerical columns and their percentages:")
print(filtered_rows[['Country Name', 'missing_percentage']])

Rows with missing values in numerical columns and their percentages:
                  Country Name  missing_percentage
110             Not classified             100.000
376             Not classified             100.000
642             Not classified             100.000
679   St. Martin (French part)             100.000
793                     Kosovo             100.000
...                        ...                 ...
2324        West Bank and Gaza              46.875
2504            Not classified             100.000
2541  St. Martin (French part)             100.000
2590        West Bank and Gaza              46.875
2655                    Kosovo             100.000

[135 rows x 2 columns]

In [145]:
# Drop rows with high missing values
df_cleaned = p.drop_high_missing_rows(df_cleaned)

Dropped Countries: ['Not classified', 'Not classified', 'Not classified', 'St. Martin (French part)', 'Kosovo', 'Not classified', 'St. Martin (French part)', 'Kosovo', 'Not classified', 'Not classified', 'Aruba', 'Africa Eastern and Southern', 'Africa Western and Central', 'Andorra', 'Arab World', 'American Samoa', 'Antigua and Barbuda', 'Bahamas, The', 'Belize', 'Bermuda', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana', 'Central Europe and the Baltics', 'Channel Islands', 'Comoros', 'Cabo Verde', 'Caribbean small states', 'Curacao', 'Cayman Islands', 'Cyprus', 'Dominica', 'East Asia & Pacific (excluding high income)', 'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia', 'Euro area', 'European Union', 'Fragile and conflict affected situations', 'Fiji', 'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gibraltar', 'Grenada', 'Greenland', 'Guam', 'Guyana', 'High income', 'Heavily indebted poor countries (HIPC)', 'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend', 'IDA only', 'Isle of Man', 'Not classified', 'Iceland', 'Kiribati', 'St. Kitts and Nevis', 'Latin America & Caribbean (excluding high income)', 'St. Lucia', 'Latin America & Caribbean', 'Least developed countries: UN classification', 'Low income', 'Liechtenstein', 'Lower middle income', 'Low & middle income', 'Lesotho', 'Late-demographic dividend', 'Luxembourg', 'St. Martin (French part)', 'Monaco', 'Maldives', 'Middle East & North Africa', 'Marshall Islands', 'Middle income', 'Malta', 'Middle East & North Africa (excluding high income)', 'Montenegro', 'Northern Mariana Islands', 'Mauritius', 'North America', 'New Caledonia', 'Nauru', 'OECD members', 'Other small states', 'Palau', 'Pre-demographic dividend', 'Pacific island small states', 'Post-demographic dividend', 'French Polynesia', 'South Asia', 'Solomon Islands', 'San Marino', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe', 'Suriname', 'Slovenia', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles', 'Turks and Caicos Islands', 'East Asia & Pacific (IDA & IBRD countries)', 'Europe & Central Asia (IDA & IBRD countries)', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)', 'Tonga', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Tuvalu', 'Upper middle income', 'St. Vincent and the Grenadines', 'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Not classified', 'St. Martin (French part)', 'Kosovo', 'Not classified', 'Not classified', 'St. Martin (French part)', 'Kosovo']
Dropped rows: [110, 376, 642, 679, 793, 908, 945, 1059, 1174, 1440, 1596, 1597, 1599, 1602, 1603, 1607, 1608, 1619, 1622, 1623, 1626, 1627, 1628, 1629, 1632, 1634, 1642, 1643, 1645, 1647, 1648, 1649, 1653, 1657, 1658, 1659, 1660, 1661, 1664, 1669, 1670, 1672, 1674, 1675, 1680, 1686, 1687, 1689, 1690, 1691, 1694, 1698, 1699, 1700, 1701, 1703, 1704, 1706, 1710, 1720, 1721, 1724, 1729, 1730, 1731, 1732, 1733, 1735, 1736, 1737, 1738, 1740, 1743, 1745, 1748, 1749, 1751, 1752, 1755, 1757, 1758, 1760, 1763, 1766, 1768, 1775, 1777, 1779, 1784, 1787, 1793, 1794, 1795, 1800, 1805, 1808, 1811, 1813, 1814, 1815, 1816, 1818, 1820, 1821, 1822, 1824, 1826, 1827, 1832, 1833, 1834, 1835, 1836, 1837, 1841, 1845, 1849, 1851, 1852, 1854, 1855, 1856, 1857, 1972, 2009, 2123, 2238, 2504, 2541, 2655]

After cleaning rows with 100 % missing values in numerical columns we have to fill the other with 0.

In [146]:
df_cleaned = df_cleaned.fillna(0)

In [147]:
# Display all columns
pd.set_option('display.max_columns', None)

# Identify numerical columns
numerical_columns = df_cleaned.select_dtypes(include=['number']).columns

# Calculate the percentage of missing values for each row, considering only numerical columns
df_cleaned['missing_percentage'] = df_cleaned[numerical_columns].isna().sum(axis=1) * 100 / len(numerical_columns)

# Filter rows with any missing values in numerical columns
filtered_rows = df_cleaned[df_cleaned['missing_percentage'] > 0]

# Display the 'Country Name' and 'missing_percentage' columns
print("\nRows with missing values in numerical columns and their percentages:")
print(filtered_rows[['Country Name', 'missing_percentage']])

Rows with missing values in numerical columns and their percentages:
Empty DataFrame
Columns: [Country Name, missing_percentage]
Index: []

#### Save Cleaned data to csv file

In [148]:
# Drop the 'missing_percentage' column
df_cleaned = df_cleaned.drop(columns=['missing_percentage'])

# Save cleaned data
df_cleaned.to_csv('../data/population_data.csv')

In [149]:
df_cleaned.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,50.858849,50.850191,50.845065,50.836016,50.826773,50.823381,50.825589,50.826585,50.834861,50.844429,50.862857,50.882413,50.892872,50.920576,50.967882,51.012106,51.059762,51.112015,51.158120,51.203109,51.245443,51.300029,51.316623,51.283702,51.245053,51.192655,51.131628,51.053530,50.966859,50.919562,50.949598,51.068313,51.203841,51.322554,51.448267,51.556132,51.643855,51.718830,51.790647,51.860891,51.928710,52.020597,52.114272,52.182824,52.252512,52.299355,52.314708,52.316943,52.320503,52.331371,52.305638,52.306295,52.373864,52.442652,52.515590,52.589275,52.657475,52.723376,52.787792,52.849439,52.890182,52.873650,52.864860,52.904203
1,Africa Eastern and Southern,AFE,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,50.387880,50.388814,50.391276,50.395656,50.400512,50.405510,50.410713,50.413312,50.413630,50.414998,50.423730,50.424335,50.411762,50.395608,50.373201,50.350121,50.335117,50.320733,50.310497,50.301375,50.249665,50.234107,50.292066,50.373230,50.476537,50.594967,50.651383,50.640337,50.645756,50.650867,50.644383,50.636029,50.655412,50.701783,50.741414,50.778877,50.819764,50.833589,50.825554,50.821628,50.808843,50.790463,50.772365,50.752424,50.731596,50.711651,50.690852,50.669994,50.651777,50.638232,50.624907,50.609573,50.593858,50.577372,50.559167,50.531940,50.518935,50.515859,50.504887,50.495993,50.486544,50.478916,50.472347,50.464214
2,Afghanistan,AFG,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,48.083054,48.165001,48.242372,48.315893,48.385273,48.450285,48.511803,48.570464,48.626005,48.677997,48.726701,48.772846,48.816351,48.856631,48.893531,48.927195,48.958030,48.985824,49.021606,49.078746,49.147412,49.216172,49.304377,49.403368,49.538809,49.710513,49.837794,49.915439,49.964655,49.981496,49.990753,49.996505,50.001845,49.987425,49.963240,49.939028,49.907191,49.873789,49.843320,49.811100,49.775111,49.740205,49.704418,49.669165,49.635085,49.604651,49.579549,49.550982,49.525460,49.505857,49.483708,49.467665,49.455577,49.442103,49.432135,49.423184,49.414608,49.419284,49.437209,49.455485,49.470944,49.488405,49.508722,49.527063
3,Africa Western and Central,AFW,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,50.179683,50.194408,50.203157,50.203679,50.204549,50.204173,50.200936,50.203165,50.209982,50.212982,50.206895,50.190393,50.171685,50.154084,50.137214,50.122838,50.111484,50.108052,50.112248,50.117189,50.121167,50.121837,50.121337,50.124192,50.119761,50.109138,50.101000,50.092365,50.078742,50.063588,50.052719,50.046197,50.040800,50.033299,50.025629,50.020582,50.017777,50.017201,50.013269,50.004903,49.996125,49.988018,49.976103,49.959575,49.943769,49.930303,49.916596,49.900686,49.884805,49.868708,49.853047,49.839934,49.829168,49.818650,49.807914,49.796591,49.783515,49.770292,49.758369,49.747269,49.738956,49.732453,49.725969,49.719851
4,Angola,AGO,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,49.843790,49.700946,49.673797,49.634980,49.576791,49.488336,49.364408,49.213634,49.061033,48.952953,48.979999,49.100274,49.215607,49.325563,49.429489,49.531610,49.633841,49.732098,49.824167,49.909713,49.989454,50.063008,50.130768,50.199861,50.270013,50.334076,50.391713,50.458259,50.529847,50.592299,50.650016,50.692752,50.728672,50.787160,50.851331,50.871566,50.858805,50.846357,50.843965,50.857152,50.867875,50.875299,50.879883,50.868815,50.849483,50.829190,50.809484,50.790696,50.770992,50.751441,50.733762,50.716821,50.701107,50.686262,50.671632,50.657496,50.642098,50.625719,50.611615,50.598879,50.588558,50.580794,50.572443,50.563065